<tr>
  <td><%= link_to book_path(book.id) do %><%= image_tag book.user.get_user_image(80,80) %><% end %></td>
  <td><%= link_to book_path(book.id) do %><%= book.title %><% end %></td>
  <td><%= book.body %></td>
  <% if book.favorited_by?(current_user) %>
    <td><%= link_to book_favorites_path(book.id), method: :delete, remote: true, class:'text-danger' do %><i class="fa-solid fa-heart"></i><%= book.favorites.count %><% end %></td>
  <% else %>
    <td><%= link_to book_favorites_path(book.id), method: :post, remote: true, class:'text-primary' do %><i class="fa-solid fa-heart"></i><%= book.favorites.count %><% end %></td>
  <% end %>
  <td>コメント数：<%= book.comments.count %></td>
</tr>